Below tools are necessary for processsing the BCR and TCR:

TRUST4 (https://github.com/liulab-dfci/TRUST4)
igblast (https://ncbi.github.io/igblast/cook/How-to-set-up.html) 
IgPhyML (https://github.com/immcantation/igphyml) 

